 doctype html
html
  head
    meta(name = 'viewport',content = 'width = device-width , initial-scale = 1.0')
    title= title
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
       .container
          .navbar-header
              a.navbar-brand(href='/') VB9
              button.navbar-toggle(type='button' , data-toggle = 'collapse' , data-target='#navbar-main')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
           #navbar-main.navbar-collapse.collapse
               ul.nav.navbar-nav
                 li
                   a(href='/about/') About
      .container
         block content
         footer
           .row
              .col-xs-12
                  small &copy; Vamshi Bachaneboina

  script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
  script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )