extends layout

block content
   .row.page-header
      .col-lg-12.well.well-sm
         h1 Starbucks

   .row
      .col-xs-12.col-md-9
         .row
            .col-xs-12.col-sm-6
              p.rating
                 span.glyphicon.glyphicon-star
                 span.glyphicon.glyphicon-star
                 span.glyphicon.glyphicon-star
                 span.glyphicon.glyphicon-star
                 span.glyphicon.glyphicon-star-empty

              p Inorbit Mall, Inorbit Mall Road
              .panel.panel-primary
                .panel-heading
                  h2.panel-title Opening Hours
                .panel-body
                  p Monday to Saturday 10:30 AM - 10:00 PM
              .panel.panel-primary
                .panel-heading
                  h2.panel-title Menu Offered
                .panel-body
                   span.label.label-warning
                     span.glyphicon.glyphicon-ok
                      | &nbsp;Hot Drinks
                   | &nbsp;
                   span.label.label-warning
                     span.glyphicon.glyphicon-ok
                      | &nbsp;Cold Drinks
                   | &nbsp;
                   span.label.label-warning
                     span.glyphicon.glyphicon-ok
                      | &nbsp;Mixed Drinks
                   | &nbsp;
            .col-xs-12.col-sm-6.location-map
                .panel.panel-primary
                  .panel-heading
                    h2.panel-title Location Map
                  .panel-body
                    img.img-responsive.img-rounded(src="http://maps.googleapis.com/maps/api/staticmap?center=Inorbit+Mall+Hyderabad&zoom=13&scale=false&size=600x450&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CInorbit+Mall+Hyderabad")
          .row
            .col-xs-12
               .panel.panel-primary.review-panel
                  .panel-heading
                     a.btn.btn-default.pull-right(href='/location-info/review') Add review
                     h2.panel-title Customer Reviews
                  .panel-body
                     .row
                        .review
                           .well.well-sm.review-header
                             span.rating
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                              span.reviewAuthor Vamshi Bachaneboina
                              small.reviewTimeStamp 27 July 2016
                            .col-xs-12
                              p This is awesome place to try all the type of Coffeeeee! <3
                      .row
                          .review
                            .well.well-sm.review-header
                              span.rating
                                 span.glyphicon.glyphicon-star
                                 span.glyphicon.glyphicon-star
                                 span.glyphicon.glyphicon-star
                                 span.glyphicon.glyphicon-star
                                 span.glyphicon.glyphicon-star-empty
                                span.reviewAuthor A G Praneeth
                                small.reviewTimeStamp 31 July 2016
                             .col-xs-12
                                 p Well! Not satifised with money to taste! :/
